* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.c3500 {
    background-image: url(https://template-1253409072.cos.ap-guangzhou.myqcloud.com/html-template/assets/img/thumb/3.jpg);
}

.c3739 {
    background-image: url(https://template-1253409072.cos.ap-guangzhou.myqcloud.com/html-template/assets/img/thumb/11.jpg);
}